.Container {
  margin: 0 auto;
  width: 100%;
}

.Content {
  background-color: silver;
}

.CV-Overview {
  background-image: url("/Planet-Drawing.jpg");
  background-repeat: no-repeat;
}

.CV-Overview > h1 {
  font-family: Pacifico;
}