body {
  background-color: silver;
}

.Basic-Details {
  padding: 20px;
}

.Container {
  margin: 0 auto;
  width: 100%;
}

.CV-Overview {
  background-color: white;
  margin-bottom: 50px;
}

.Repo-List {
  background-color: white;
  margin-top: 50px;
  padding: 30px 10px;
}