html {
  font-family: monospace;
}

.Benefits {
  padding: 20px;
}

.Benefits p {
  font-weight: bold;
}

.Container {
  margin: 0 auto;
}

.Image {
  margin-bottom: 20px;
  width: 100%;
}

.Section_Cont {
  width: 100%;
}

.Section_Filters {
  float: left;
  width: 100%;
}

.Section_Filters button {
  border-radius: 50%;
}

.Section_Name {
  padding: 20px;
  width: 100%;
}

.Service_Content {
  border: black 1px solid;
  margin-bottom: 20px;
  padding: 30px;
}

.Site_Logo {
  clear: left;
  float: left;
  font-weight: bold;
  padding: 20px;
  width: 70%;
}

.Site_Menu {
  float: right;
  width: 30%;
}

.Site_Nav {
  float: left;
  width: 100%;
}