html {
  font-family: monospace;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  list-style-type: none;
}

.Benefits {
  padding: 20px;
}

.Benefits p {
  font-weight: bold;
}

.Container {
  margin: 0 auto;
  width: 100%;
}

.Heading {
  padding: 20px;
}

.Image {
  padding: 20px;
}

.Latest_Issues {
  margin: 30px 3px;
}

.Service {
  border: solid 1px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 10px 20px 10px;
  text-align: center;
}

.Service_Content {
  margin-bottom: 20px;
}