caption {
  padding: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid grey;
  letter-spacing: 1px;
}

td, th {
  border: 1px solid lightgray;
  padding: 10px 20px;
}

th {
  background-color: grey;
}

td {
  background-color: lightgrey;
}

.Section h1 {
  margin-bottom: 20px;
}