@media only screen and (max-width: 600px) {  /* styles for devices with max width of 600px */
    
    .Avatar {
        display: block;
        margin: 0 auto;
    }

    .Content {
        margin: 40px 0;
    }
    
    .Overview {
        align-items: center;
        background-color: sandybrown;
        padding: 35px 30px;
        text-align: center;
    }

    .Overview > .Profile {
        margin: 20px 0;
    }

    .Overview > .Socials, a {
        margin: 0 10px;
    }

    .Repo-List {
        padding: 0 10px;
    }

    .TableResponse {
        overflow-x: auto;
    }

}

@media only screen and (max-width: 768px) {  /* styles for devices with max width of 768px */
    
    .Avatar {
        display: block;
        margin: 0 auto;
    }
    
    .CV-Overview {
        align-items: center;
        background-color: sandybrown;
        padding: 35px 30px;
    }

    .Repo-List {
        padding: 20px;
    }

    .Services {
        margin: 50px 0;
    }

    .TableResponse {
        overflow-x: auto;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 40px;
    } 

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 28px;
    }

    h6 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
        
}

@media only screen and (max-width: 992px) {  /* styles for devices with max width of 992px */

    .CV-Overview {
        padding: 40px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 44px;
    } 

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 32px;
    }

    h6 {
        font-size: 28px;
    }

    p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1400px) {

    .CV-Overview {
        background-color: sandybrown;
        padding: 50px;
    }

    .Repo-List {
        padding: 50px;
    }

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 48px;
    } 

    h3 {
        font-size: 44px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 36px;
    }

    h6 {
        font-size: 32px;
    }

    p {
        font-size: 28px;
    }
}
