a {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-image: url("/public/Nissan-Universe-Shouts.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Avatar {
  border-radius: 100px;
}

.Container {
  float: left;
  width: 100%;
}

.Button {
  display: inline;
  margin: 0 10px;
  width: 25%;
}

.Menu_Cont {
  display: inline;
  float: right;
  width: 70%;
}

.Site_Nav {
  float: left;
  width: 100%;
}

.Title {
  font-family: monospace;
  font-weight: bold;
}

.Title_Cont {
  clear: left;
  display: inline;
  float: left;
  padding-left: 20px;
  width: 30%;
}