@media (max-width: 768px) {  /* styles for devices with max width of 768px */
  
  h1 {
    font-size: 30px;
  }

  .Header {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .Logo {
    display: inline;
  }

  .Logo p {
    font-size: 15px;
    font-weight: bold;
  }

  .MenuClosed {
    display: none;
  }

  .MenuOpen {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .MobileButton {
    padding: 5px;
  }

  .TableResponse {
    overflow-x: auto;
  }

}

@media only screen and (max-width: 992px) {  /* styles for devices with max width of 992px */}

@media (max-width: 1200px) {  /* styles for devices with max width of 1200px */

  h1 {
    font-size: 50px;
  }

  .Header {
    display: flex;
    justify-content: space-between;
  }

  .Logo button {
    display: none;
  }

  .MenuOpen {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

}