@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One";
}

p {
  font-family: "Source Serif 4";
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: auto;
}

.Footer {
  background-color: darkgrey;
}

.Header {
  background-color: sandybrown;
}