table {
  border: 1px solid grey;
  border-collapse: collapse;
  border-radius: 50px;
  letter-spacing: 1px;
}

td, th {
  border: 1px solid lightgray;
  padding: 10px 20px;
}

th {
  background-color: grey;
}

td {
  background-color: azure;
}
